/* .card.text-bg-info.mb-3
{
    margin: 6px;
    padding: 1% 
}
.card-header
{
    margin : -10px
}
.card-body
{
    margin-top: 10px;
} */
div
{
    margin-top: -6px;
    margin-bottom: -30px;
    
    padding: 1% 
}